html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

// TOOLBAR //


header {
  width: 100%;
  height: 100vh;
  background: lightblue;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
}


nav {
  position: fixed;
  width: 100%;
  line-height: 0px;

  ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
      
      li {
          display: inline-block;
          padding: 16px 40px;
      }

      a {
          text-decoration: none;
          color: #fff;
          font-size: 16px;
      }
  }
}

nav.black ul {
  background: #000;
}


.menu-icon {
  line-height: 60px;
  width: 100%;
  background: #000;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #fff;
  display: none;
}

.containers{
  display:flex;
  flex-direction: column;
  padding: auto;
  
}

// ABOUT SECTION
#about{
  background-color: grey;
  text-align: center;
  padding: 0px;
  @media screen and (min-width: 600px) {
    
    padding: 20px;

  }
  @media screen and (min-width: 992px) {
    padding:100px;
  
  }


  .about_header-section{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:green;
  }
  
  .about_info_section{
    display: flex;
    background-color: purple;
    flex-wrap: wrap;
    justify-content: center;
    
    
    .Section_piece{
      flex-direction: column;
      @media screen and (min-width: 600px) {
    
        flex: 50%;
    
      }
      @media screen and (min-width: 992px) {
        flex: 25%;
        padding:25px;
      
      }
      
    }

  }
}

// SKILLS SECTION

#Skills{
  background-color:purple;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-self:center;
  justify-content: space-around;
  height: 900px;

  .Skills-items{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 800px;
      
    .skills-each{
      width: 80%;
      box-shadow: 3px 3px;
      background-color: white;
      text-align: start;
      padding: 20px;
        @media screen and (min-width: 600px) {
      
          width: 500px;
        }

      .table-header h2{
        border-bottom: 2px solid grey;
      }

      p{
        font-size: 3em;
        margin: 0;
      }
    }
  }

}

// PROJECTS SECTION

#projects{
  background-color: #EFE9F4;;
  text-align: center;
    @media screen and (min-width: 600px) {
      padding: 100px;
      }

}

#project-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.project-items{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 300px);
  grid-template-rows: repeat(2, 200px);
    @media screen and (min-width: 640px) {
      grid-template-columns: repeat(2, 300px);
      grid-template-rows: repeat(2, 200px);

    }
    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(2, 400px);
      grid-template-rows: repeat(2, 250px);

    }


    .item{
      img{
      width: 100%;
      height: 100%;
      }
    }
  
}

// EDUCATION SECTION

#Education{
  background-color: green;
  text-align: center;
  height: 250px;
  // padding: 200px; * remember to add media query to add padding.
    @media screen and (min-width: 600px) {
      padding: 50px;
    }
    // @media screen and (min-width: 992px) {
    //   padding:50px;
    // }

  .Education-item{
    background-color: grey;
    // width:600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self:center;
    width: 80%;
    box-shadow: 3px 3px;

    

    @media screen and (min-width: 600px) {
    
      width: 500px;
  
    }
  //   @media screen and (min-width: 992px) {
  //     width: 500px;
  // }
  }
}

// WORK EXPERIENCE SECTION

#Work-Experience{
  background-color:purple;
  text-align: center;
  flex-direction: column;
  align-items: center;
  align-self:center;
  justify-content: space-around;
  height: 500px;

  .Work-experience-items{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 400px;
    

      
    .jobs{
      width: 80%;
      box-shadow: 3px 3px;
      background-color: grey;
      @media screen and (min-width: 600px) {
    
        width: 500px;
       }
    }
  }

}

#contact{
  background-color: grey;
  text-align: center;

}

footer{
  display: flex;
  justify-content: center;
  background-color: #171D1C;
 

  .footer-items{
    display: flex;
    justify-content:space-evenly;
    // margin-left: 48px;
    width: 300px;
    background-color: green;

    .icon{
      font-size: 3em;
    }
  }
  
}


// MEDIA QUERY


@media(max-width: 786px) {

  .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
  }

  nav ul {
        max-height: 0px;
        background: #000;
  }

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }

}

