$white: #FEFFFF;
$dblack: #17252A;
$lblue: #66fcf1;
$dblue: #45a29e;
$lgrey: #DEF2F1;
$mgrey: #1f2833;
$mgreen: #3AAFA9;
$dgrey-border: rgba(12, 12, 16, 0.65);
$shadow: 5px 5px 5px $mgreen;



@import url('https://fonts.googleapis.com/css?family=Capriola|Playfair+Display:400|Roboto:300,400');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y proximity;
}

section {
  height: 100%;
  min-height: 550px;
  min-width: 300px;
  width: calc(100% - 40px);
  padding: 20px;
  border-bottom: 5px solid $dgrey-border;
}

h1 {
  color: $lblue;
  font-family: 'Playfair Display', serif;
  line-height: 4rem;
}

h2 {
  color: $mgreen;
  margin-bottom: 1rem;
  font-family: 'Capriola', sans-serif;
  // text-shadow: 5px 5px 5px $mgreen;
}

h3 {
  color: $mgreen  ;
  font-family: 'Capriola', sans-serif;
  text-shadow: 4px 4px 5px $mgreen;
}
p{
  color: $dblack;
}
p,
a,
li {
  font-family: 'Roboto', sans-serif;
}

p,
li {
  font-size: 1rem;
  // line-height: 1.3rem;
  font-weight: 300;
}

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 98;

  #hamburger{
    position: fixed;
    top: 1em;
    right: 1em;
    cursor: pointer;
    z-index: 1;
  }

  #nav-list {
    display: none;
    background-color: $lgrey;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    height: 100vh;

    &.open {
      display: flex;
      // opacity: 1;
    }
    
    li {
      list-style: none;

      a {
        font-size: 1.5rem;
        font-weight: 400;
        text-decoration: none;
        color: black;
      }
    }
  }
}

#hero {
  background-color: $mgreen;
  // border-bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  h1{
    color: $white;
    font-size: 2.2rem;
  }

  h2{
    color: $dblack;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1rem;
  }
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: $white;

  h2 {
    align-self: flex-start;
    margin-bottom: 2rem;
  }

  img {
    border: 3px solid $dgrey-border;
    border-radius: 60px;
    height: 30vh;
    max-width: 100%;
    margin-bottom: 2rem;
  }

  p{
    font-size: 24px;
    text-align: center;
  }

}

#projects {
  padding-bottom: 35px;
  background: $lgrey;
  min-height: 900px;

    h2 {
      text-align: center;
    }

    h3 {
      color: $dblue;
      margin-bottom: 1rem;
    }
    
    #wrapper{
      display:flex;
      flex-direction: column;
      align-items: center;

      #project-items {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 300px);
        grid-template-rows: repeat(4, 200px);


        .item{
          border-style: solid;
          border-color: grey;
          img{
          width: 100%;
          height: 100%;
          }
        }
      }
    }
}

#skills {
  background: $white;
  display: flex;
  flex-direction: column;
  align-items: center;

  #skills-list{
    display: grid;
    grid-template-columns: repeat(1, 300px);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10%;
    margin-top: 30px;

    .skills-item{
      box-shadow: 3px 3px;
      background-color: $mgreen;
      text-align: start;
      padding: 20px;

      p{
         margin-top: 10px;
         font-size: 30px;
         letter-spacing: 8px;

         i{
           color: $dblack;
         }
      }

      h3{
        color: $dblack;
        border-bottom: 2px solid $white;
      }
    }

  }

}

#timeline {
  background: $lgrey;
  min-height: 880px;
  
  * {
    box-sizing: border-box;
  }

  .timeline {
    position: relative;
    max-width: 100%;
    margin: 0 auto;

    h2{
      font-size: 20px;
    }

    p{
      font-size: 18px;
    }
  }

    /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }

  /* Container around content */
  .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }

  /* The circles on the timeline */
  .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }

  /* Place the container to the left */
  .left {
    left: 0;
  }

  /* Place the container to the right */
  .right {
    left: 50%;
  }

  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }

  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }

  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the left */
    .timeline::after {
      left: 31px;
    }

    /* Full-width containers */
    .container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
      left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
}

#contact {
  background-color: $mgreen;

  h2 {
    margin-bottom: 1rem;
    color: $white;
  }

  ul {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    li {
      display: inline-block;
      margin-bottom: 1rem;


      a i,
      span i {
        cursor: pointer;
        font-size: 3rem;
        color: $white;

        &:link {
          color: $white;
        }

        &:visited {
          color: $white;
        }

        &:hover {
          color: $lblue;
        }
      }
    }
  }
}



@media (min-height: 550px) {
  section {
    height: calc(100vh - 40px);
    scroll-snap-align: start;
  }

  h2 {
    font-size: 4vh;
  }

  h3 {
    font-size: 3vh;
  }

  #skills ul li {
    line-height: 3.5vh;
  }

  #projects {

  }

  #contact ul li {
    a i,
    span i {
      font-size: 8vh;
    }
  }
}

@media (min-height: 900px) {
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 27px;
  }

  p,
  li,

  #skills ul li {
    line-height: 32px;
  }
}

@media (min-width: 500px) {
  
  h2 {
    text-align: center;
  }


  #contact ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 20px 20px;

    li {
      text-align: center;

      a i {
        font-size: 80px;
      }

      &:nth-of-type(1) {
        grid-area: 2 / 1 / 3 / 3;
      }

      &:nth-of-type(2) {
        grid-area: 2 / 3 / 3 / 5;
      }

      &:nth-of-type(3) {
        grid-area: 2 / 5 / 3 / 7;
      }

      &:nth-of-type(4) {
        grid-area: 3 / 2 / 4 / 4;
      }

      &:nth-of-type(5) {
        grid-area: 3 / 4 / 4 / 6;
      }
    }
  }
}

@media (min-width: 650px) {
  

  #skills {

  }

  #projects {
    #wrapper{
      // padding: 40px;

      #project-items{
        // grid-template-columns: repeat(1, 350px);
        // grid-template-rows: repeat(4, 230px);

      }
    }
  }
}

@media (min-width: 800px) {
  #hero .title h1 span {
    display: inline;
  }
}

@media (min-width: 1000px) {

  nav {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    .black{
      // background-color: $dblack !important;
     }

    #hamburger {
      display: none;
    }

    #nav-list {
      padding: 5px;
      background-color: $dblack;
      display: flex;
      opacity: 1;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      height: auto;

      li {
        margin: 0.5rem 2rem;
        text-decoration: none;
        // color: white;

        a{
          color:white;
        }

        a:hover{
          color:$mgreen;
        }
      }

    }
  }

  h2 {
    margin-top: 35px;
  }

  #about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px 1fr 80px;

    h2 {
      grid-area: 1 / 1 / 2 / 4;
      align-self: stretch;
    }

    p {
      font-size: 2.2rem;
      font-weight: 300;
      // line-height: 2rem;
      margin-left: 50px;
      max-width: 550px;
    }

    img {
      justify-self: end;
      width: 560px;
      height: 410px;  
    }
  }

  #projects {

    min-height: 100%;

    #wrapper{
      height: 90%;
      padding: 45px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    

      #project-items{
      grid-template-columns: repeat(2, 450px);
      grid-template-rows: repeat(2, 250px);
      }
    }
  }

  #skills {
    li {
      font-size: 18px;
    }
  }

  #contact {
    ul {
      display: flex;
      flex-direction: row;

      li a i {
        font-size: 100px;
      }
    }
  }
}

